/venv/
/yolov5/
/mapleLand/dataset/
/mapleLand/train/
/mapleLand/zombie/
/mapleLand/new_dataset/
/mapleLand/frame/
/myenv/
/search_results.xlsx
/search_results (1).xlsx
/search_results (2).xlsx
/search_results (3).xlsx
/search_results (4).xlsx
/원티드_공고_검색기.spec
/input.csv
/job_data.xlsx
/build/원티드_공고_검색기/warn-원티드_공고_검색기.txt
/build/원티드_공고_검색기/xref-원티드_공고_검색기.html
/dist/원티드_공고_검색기.exe
/build/원티드_공고_검색기/원티드_공고_검색기.exe.manifest
/build/원티드_공고_검색기/원티드_공고_검색기.pkg
/dist/원티드_공고_검색기.zip
/build/원티드_공고_검색기/EXE-00.toc
/mapleLand/detected_screenshot.png
/build/원티드_공고_검색기/PYZ-00.pyz
/build/원티드_공고_검색기/PYZ-00.toc
/build/원티드_공고_검색기/PKG-00.toc
/build/원티드_공고_검색기/base_library.zip
/build/원티드_공고_검색기/Analysis-00.toc
